.theme-dashboard .btn-primary {
	background: #E84142
}

.theme-dashboard .btn-primary:active,
.theme-dashboard .btn-primary:hover,
.theme-dashboard .btn-primary:focus {
	background: #E84142
}

.theme-dashboard .btn-primary.btn-simple {
	border-color: #E84142;
	color: #E84142;
	background: transparent
}

.theme-dashboard .page-loader-wrapper,
.theme-dashboard .active-bg {
	background: rgb(24, 26, 32)
}

.theme-dashboard .sidebar .menu .list li.active.open .active a {
	color: #0b2e5e
}

.theme-dashboard .sidebar .menu .list a:hover {
	color: #e8ecf3
}

.theme-dashboard .sidebar.h_menu .menu li.active.open>a {
	color: #e0e6ef
}

.theme-dashboard .sidebar.h_menu .menu li.active.open>a:before {
	background: #f6f9fd
}

.theme-dashboard .sidebar.h_menu .menu li a:hover:before {
	background: #f0f2f5
}

.theme-dashboard .checkbox input[type="checkbox"]:checked+label::after {
	border-color: rgb(252, 213, 53);
	background: rgb(252, 213, 53);
	color: #fff
}

.theme-dashboard .nav-tabs .nav-link.active {
	border: 1px solid #E84142 !important;
	background: #E84142;
	color: #fff
}

/* .theme-dashboard .card .header h2:before {
	background: #E84142 
} */

.theme-dashboard .card .header h2 strong {
	color: #0b2e5e
}

.theme-dashboard .card .header .dropdown-menu li a:hover {
	background-color: #0b2e5e;
	color: #fff
}

/* .theme-dashboard .card {
	background-color: rgb(35, 35, 37);
} */

.theme-dashboard .card .body h4 strong {
	color: #0b2e5e
}

.theme-dashboard .card .body h3 strong {
	color: #0b2e5e
}

/* 
.theme-dashboard .card .body strong,
.theme-dashboard .card .body h4 {
	color: #fff 
} */


.theme-dashboard .card .body ul li,
.theme-dashboard .card .body p {
	font-size: larger;
	/* color: #fff */
}

.theme-dashboard .authentication .navbar,
.theme-dashboard .authentication .page-header {
	background: #0b2e5e !important
}

.theme-dashboard .form-control:focus,
.theme-dashboard .form-control:focus+.input-group-addon,
.theme-dashboard .form-control:focus~.input-group-addon {
	border-color: #0b2e5e
}

.theme-dashboard.theme-dark .top_navbar {
	background: #0b2e5e
}

.theme-dashboard.theme-dark .input-group-focus .input-group-addon {
	border-color: rgb(252, 213, 53)
}

