.theme-purple .btn-primary {
	background: #e6fa36
}

.theme-purple .btn-primary:active,
.theme-purple .btn-primary:hover,
.theme-purple .btn-primary:visited,
.theme-purple .btn-primary:focus {
	background: #2D306A !important
}

.theme-purple .btn-primary.btn-simple {
	border-color: #e6fa36 !important;
	color: #e6fa36 !important;
	background: transparent
}

.theme-purple .page-loader-wrapper,
.theme-purple .active-bg {
	background: #c29be7
}

.theme-purple .sidebar .menu .list li.active.open .active a {
	color: #47A2DF
}

.theme-purple .sidebar .menu .list a:hover {
	color: black
}

.theme-purple .sidebar.h_menu .menu li.active.open>a {
	color: black
}

/* .theme-purple .sidebar.h_menu .menu li.active.open>a:before {
	background: black
} */

.theme-purple .sidebar.h_menu .menu li a:hover:before {
	background: black
}

.theme-purple .checkbox input[type="checkbox"]:checked+label::after {
	border-color: #e6fa36;
	background: #e6fa36;
	color: #fff
}

.theme-purple .nav-tabs .nav-link.active {
	background: #c29be7;
	color: #e6fa36
}

.theme-purple .card .header h2:before {
	background: #e6fa36
}

.theme-purple .card .header h2 strong {
	color: #e6fa36
}

.theme-purple .card .body h4 strong {
	color: white
}

.theme-purple .card .body p {
	color: white
}

.theme-purple .card .header .dropdown-menu li a:hover {
	background-color: #e6fa36;
	color: #fff
}

.theme-purple .authentication .navbar,
.theme-purple .authentication .page-header {
	background: #e6fa36 !important
}

.theme-purple .form-control:focus,
.theme-purple .form-control:focus+.input-group-addon,
.theme-purple .form-control:focus~.input-group-addon {
	border-color: #e6fa36
}

.theme-purple.theme-dark .top_navbar {
	background: #e6fa36
}

.theme-purple.theme-dark .input-group-focus .input-group-addon {
	border-color: #e6fa36
}
