{% extends "base-dashboard.html" %}
{% load i18n %}
{% load utility_tags %}
{% block secondary_menu %}
{% endblock secondary_menu %}
{% load static %}

{% block title %}
<!-- {% trans 'Accounts' %} -->
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href=""><i class="icon-home"></i>
  </a>
</li>
<li class="breadcrumb-item active">{% trans 'Dashboard' %}</li>
{% endblock %}


{% block content %}

<section class="container assess-list">
  <div class="container-fluid project-list">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card"></div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="row clearfix">
              <div class=" col-sm-12 align-middle">
                <ul class="nav nav-tabs">
                  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#sankey">Sankey</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#network">Network</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">

      <input type="hidden" id="links" value="{{ links }}">
      <input type="hidden" id="nodes" value="{{ nodes }}">
      <input type="hidden" id="data_of_source_chain" value="{{ data_of_source_chain }}">
      <input type="hidden" id="data_of_destination_chain" value="{{ data_of_destination_chain }}">
      <div class="col-lg-12">
        <div class="tab-content">
          <div class="tab-pane active" id="sankey">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                  <div id="sankeychart-container">sankey</div>
                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane" id="network">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                  <div id="forcechart-container">force</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-12 col-lg-7 col-xl-6">
            <div class="card">
              <div id="chart1-container">chart1</div>
            </div>
          </div>
          <div class="col-md-12 col-lg-5 col-xl-6">
            <div class="card">
              <div id="chart2-container"></div>
              <div class="body table-responsive">
                <table class="table m-b-0 table-striped table-dark table-borderless table-black">
                  <thead>
                    <tr>
                      <th scope="col">Network</th>
                      <th scope="col">Inflow</th>
                      <th scope="col">Outflow</th>
                      <th scope="col">Total</th>
                      <th scope="col">Net</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for node in nodes %}
                    <tr>
                      <th>{{ node.id }}</th>
                      <td>{{ node.value_in|floatformat:0 }}</td>
                      <td>{{ node.value_out|floatformat:0 }}</td>
                      <td>{{ node.value_in|sum:node.value_out }}</td>
                      <td>{{ node.value_in|subtract:node.value_out }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div id="chart3-container">chart3</div>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div id="chart4-container">chart4</div>
            </div>
          </div>
        </div>

        <!-- <div class="row clearfix">
          <div class="col-md-12 col-lg-7 col-xl-6">
            <div class="card">
              <div id="chart3-container">chart1</div>
            </div>
          </div>
          <div class="col-md-12 col-lg-5 col-xl-6">
            <div class="card">
              <div id="chart4-container">chart2</div>
            </div>
          </div>
        </div> -->

        <div class="row clearfix">
          <div class="col-md-12 col-lg-7 col-xl-6">
            <div class="card">
              <div id="chart5-container">chart5</div>
            </div>
          </div>
          <div class="col-md-12 col-lg-5 col-xl-6">
            <div class="card">
              <div id="chart6-container">chart6</div>
            </div>
          </div>
        </div>


        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div id="imagetable-container">chart6</div>
            </div>
          </div>
        </div>

        <!-- <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div id="chart5-container">chart5</div>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div id="chart6-container">chart6</div>
            </div>
          </div>
        </div> -->

      </div>
    </div>

  </div>
</section>

{% endblock %}

{% block scripts %}

{% endblock %}