{% extends "base-dashboard.html" %}
{% load i18n %}
{% block secondary_menu %}
{% endblock secondary_menu %}
{% load static %}

{% block title %}
<!-- {% trans 'Accounts' %} -->
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href=""><i class="icon-home"></i>
    </a>
</li>
<li class="breadcrumb-item active">{% trans 'Dashboard' %}</li>
{% endblock %}


{% block content %}

<section class="container assess-list">
    <div class="container-fluid project-list">

          
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="card">
            <div class="body">
              <div class="row clearfix">
                <div class=" col-sm-12 align-middle">
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#sankey">Sankey</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#network">Network</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="tab-content">
                <div class="tab-pane active" id="sankey">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div id="sankeychart-container">sankey1</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-pane" id="network">

                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div id="forcechart-container">force</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>
</section>

{% endblock %}

{% block scripts %}

{% endblock %}