{% extends "base-dashboard.html" %}
{% load i18n %}
{% load utility_tags %}
{% block secondary_menu %}
{% endblock secondary_menu %}
{% load static %}

{% block title %}
<!-- {% trans 'Accounts' %} -->
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href=""><i class="icon-home"></i>
  </a>
</li>
<li class="breadcrumb-item active">{% trans 'Document' %}</li>
{% endblock %}


{% block content %}
<section class="container assess-list">
  <div class="container-fluid project-list">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card"></div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card">

          <div class="body">
            <h4><strong>Objective</strong></h4>
            <p>

The primary objective of this dashboard is to furnish a comprehensive and insightful analytical overview of the interchain bridge <strong>Squid</strong>. 
              Squid's pivotal function revolves around facilitating frictionless token swaps among various blockchains, thereby simplifying the process of accessing applications across disparate chains through a single, user-friendly interface.

            </p><p>Empowered by Squid's robust API and versatile SDK, developers gain the capability to seamlessly orchestrate token swaps across diverse blockchain environments. This functionality extends to enabling the linkage of multiple swaps and on-chain function calls across an extensive array of integrated chains.
              This innovative capacity empowers users to instantaneously traverse novel ecosystems, thereby unlocking the untapped potential harbored within different chains.</p>
<p>Squid currently supports bridging across an impressive spectrum of 13 chains: Ethereum, Arbitrum, Optimism, Polygon, Avalanche, Binance, Fantom, Moonbeam, Celo, Base, Linea, Filecoin, and Kava.
   By deploying a network of decentralized exchanges (DEXes), Squid seamlessly facilitates cross-chain swaps, fostering interoperability and fluid asset movement between the aforementioned chains and various others.

</p><p>The analytics section of this dashboard serves as an insightful visualization tool, elucidating the intricate flow of assets through Squid's interchain mechanism. The network topology depicted therein provides a lucid illustration of how Squid effectively interconnects distinct chains, akin to nodes within a network. Users can further delve into a wealth of analysis specific to individual wallet addresses by utilizing the search function situated above.

</p><p>Complementing this, the leaderboard tab enhances the user experience by offering an at-a-glance summary of active users and prominent decentralized exchanges (DEXes) within the Squid ecosystem. This multifaceted dashboard empowers users with the insights needed to navigate the interchain landscape and capitalize on its potential.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card">

          <div class="body">
            <h4><strong>Method and Data</strong></h4>
            <p>Interoperability has emerged as a prominent trend driven by genuine needs within the blockchain ecosystem, encompassing seamless interchain communication and secure movement of assets across chains.
              While interoperability offers novel opportunities, it also introduces fresh challenges. Within the realm of blockchain analytics, achieving interoperability necessitates tapping into diverse data sources.
              Recognizing the inherent limitations of data-sharing platforms, especially concerning interchain protocol analytics, a multi-faceted approach becomes essential. The comprehensive analysis of interchain protocols demands the integration of data from multiple sources, encompassing all relevant chains.
            </p><p>
Our dashboard addresses these complexities by amalgamating the Graph data and Flipside data, enabling a comprehensive visualization of asset flows through Squid across a multitude of chains.
              Squid, currently, supports asset origins across 13 distinct chains. In this iteration of the Squid Flow Visualizer, we leverage Flipside's data for 7 chains, while the Graph SDK augments our analysis with data from 3 additional chains.

            </p><p>To harness Flipside's capabilities, we have seamlessly integrated SQL queries into our codebase, which can be readily accessed on our GitHub repository. These queries empower the extraction of valuable insights from Flipside's SDK. Correspondingly, the SQL code is available via the following link (link).

</p><p>Furthermore, our methodology encompasses the utilization of three subgraphs for analyzing data from Fantom, Celo, and Moonbeam chains. These subgraphs, collaboratively developed with @Kida, bolster the accuracy and depth of our analysis.

          </p><p>The integration of data from Flipside SDK and Graph SDK underpins our analytical framework. By merging these datasets, we synergistically harness their capabilities, enriching the depth and precision of our analyses.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card">

          <div class="body">
            <h4><strong>Overview</strong></h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla neque pariatur officiis iure molestias ab reiciendis voluptatem ullam excepturi exercitationem, natus voluptate rerum, nisi voluptas ipsam eos possimus, vitae consequatur.</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>

{% endblock %}

{% block scripts %}
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

{% endblock %}
