{% extends "base-dashboard.html" %}
{% load i18n %}
{% load utility_tags %}
{% block secondary_menu %}
{% endblock secondary_menu %}
{% load static %}

{% block title %}
<!-- {% trans 'Accounts' %} -->
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href=""><i class="icon-home"></i>
  </a>
</li>
<li class="breadcrumb-item active">{% trans 'Dashboard' %}</li>
{% endblock %}


{% block content %}

<section class="container assess-list">
  <div class="container-fluid project-list">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card"></div>
      </div>
    </div>

  

    <div class="row clearfix">

      <div class="col-lg-12">

        <div class="row clearfix">
          <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card">
              <div class="body">
                <div class="table-responsive" style="height: 400px;">
                  <table class="table m-b-0 table-striped table-dark table-borderless table-black" id="network_table">
                    <thead>
                      <tr>
                        <th>Sender</th>
                        <th>Total Volume</th>
                        <th>ARBITRUM</th>
                        <th>AVALANCHE</th>
                        <th>BINANCE</th>
                        <th>CELO</th>
                        <th>ETHEREUM</th>
                        <th>FANTOM</th>
                        <th>MOONBEAM</th>
                        <th>POLYGON</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in leaderboard %}

                      <tr>
                        <th>{{ user.user }}</th>
                        <td>{{ user.total_volume|floatformat:0 }}</td>
                        <td>{{ user.arbitrum|floatformat:0 }}</td>
                        <td>{{ user.avalanche|floatformat:0 }}</td>
                        <td>{{ user.binance|floatformat:0 }}</td>
                        <td>{{ user.celo|floatformat:0 }}</td>
                        <td>{{ user.ethereum|floatformat:0 }}</td>
                        <td>{{ user.fantom|floatformat:0 }}</td>
                        <td>{{ user.moonbeam|floatformat:0 }}</td>
                        <td>{{ user.polygon|floatformat:0 }}</td>
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
   

  </div>
</section>

{% endblock %}

{% block scripts %}
<script>
  var table = document.getElementById("network_table");
  var cells = table.getElementsByTagName("td");

  for (var i = 0; i < cells.length; i++) {
    var cellValue = parseInt(cells[i].textContent);
    cells[i].textContent = cellValue.toLocaleString();
  }
</script>
<script>
  var table = document.getElementById("destination_table");
  var cells = table.getElementsByTagName("td");

  for (var i = 0; i < cells.length; i++) {
    var cellValue = parseInt(cells[i].textContent);
    cells[i].textContent = cellValue.toLocaleString();
  }
</script>
{% endblock %}